@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

form {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #24292e;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

form input {
    border: none;
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    border-bottom: 2px solid #24292e;
    margin-right: 30px;
}

form button {
    border: none;
    height: 40px;
    width: 100px;
}

text-comp {
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    background-color: #24292e;
    color: #fff;
    border-radius: 5px;
}